html{
  background: #f5f5f5;
}
.navbar {
    background: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: rgb(66, 93, 245);
  }
  .main
  {
    height: calc(100vh - 90vh);
  }

  .services
  {
    background-color: white;
  }

  .contact
  {
   background: #ffffff; 
  }

  footer
  {
    background: #171717;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
  }




  @media(max-width: 425px)
  {
    .main
    {
      height: calc(100vh - 80vh);
    }
  }